venv/
.env/
__pycache__/
*.pyc
*.pt
*.pth
*.svs
*.nii
*.nii.gz
checkpoint*.json
*.csv
*.tsv
*.log
.weights/
./zip/
.DS_Store
.zipdata/
.pth
# Ignore MedicalNet weights
weights/MedicalNet_pytorch_files2/
.png
.jpg